

:root {
    --side-margin: 0 20% 0 20%; 
    --text-align: center;
    
    --h1-font-size: 3rem;
    --h2-font-size: 1.7rem;
    --p-font-size: 1.5rem;
    
    --card-direction: row;
    --card-width: 33%;
    
    --video-width: 100%;
}

@media (max-width: 600px) {
    :root{
        --side-margin: 0 5% 0 5%;
        --text-align: left;
        
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --p-font-size: 1rem;
        
        --card-direction: column;
        --card-width: auto;
        
        --video-width: 100%;
    }
}

body {
    background-color: #e5ebfb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: var(--side-margin);

    text-align: var(--text-align);
}

footer {
    width: 100vw;
    margin-top: 4rem;
    padding: 0.5rem 0;
    border-top: 1px solid #ccc;
    color: #666;
    text-align: center;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: var(--card-direction);
}

.card {
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.2rem;
    padding: 1rem;
    transition: transform 0.2s;
    width: var(--card-width);
}
.card-text {
    text-align: left;
}
.video {
    border-radius: 1rem;
    width: var(--video-width);
}

p {
    font-size: var(--p-font-size);
}

h1 {
    font-size: var(--h1-font-size);
    text-align: center;
}

h2 {
    font-size: var(--h2-font-size);
    text-align: center;
}

div {
    margin: 3rem 0 3rem 0;
}
