body {
    background-color: #e5ebfb;
    font-family: Arial, sans-serif;
    margin: 0 20% 0 20%;

    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: row;
}

.card {
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.2rem;
    padding: 1rem;
    transition: transform 0.2s;
    width: 33%;
}
.card-text {
    text-align: left;
}

p {
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.7rem;
}

div {
    margin: 3rem 0 3rem 0;
}
