body {
    background-color: #e5ebfb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 20% 0 20%;

    text-align: center;
}

footer {
    width: 100vw;
    margin-top: 4rem;
    padding: 0.5rem 0;
    border-top: 1px solid #ccc;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: row;
}

.card {
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.2rem;
    padding: 1rem;
    transition: transform 0.2s;
    width: 33%;
}
.card-text {
    text-align: left;
}
.video {
    border-radius: 1rem;
    width: 60vw;
}

p {
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.7rem;
}

div {
    margin: 3rem 0 3rem 0;
}
